* {
    margin:0;
    padding: 0;
    block: auto;
    box-sizing: border-box;
}
nav{
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
    background: red;
    padding: 2rem;
    width: 100%;
    height: auto;
}
section{
    display: flex;
    align-items:center;
    justify-content: center;
}
